    .judul {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lora';
        color: blue;
    }

    .judul .judul1 {
        font-size: 14px;
        color: #BBB1B1;
    }

    .check {
        margin-left: 7%;
    }

    .check td {
        padding: 10px;
    }

    .check .td1 {
        padding: 50px;
    }

    input[type=text],
    select {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .address {
        margin-left: 10%;
        font-size: 20px;
        font-family: 'Lora';
    }

    .form {
        margin-left: 10%;
    }

    .form input {
        background-color: gainsboro;
    }

    .btn-check {
        background-color: #F9B234;
        width: 15%;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 20px;
        cursor: pointer;

    }

    .btn-cancel {
        background-color: gainsboro;
        width: 15%;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 20px;
        cursor: pointer;
    }

    .tagihan {
        width: 28%;
        height: 600px;
        /* border: 1px solid black; */
        float: right;
        margin-right: 10%;
        background-color: gainsboro;
        padding: 5px;
    }