body {
    font-family: 'Montserrat';
}

.n_r {
    float: right;
    margin-right: 100px;
}

.rc_nav.ab {
    text-align: center;
}

.login {
    text-align: center;
    margin-top: 100px;
}

.login h3 {
    font-family: 'Lora';
    font-size: 20px;
}

input[type=text],
select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.address {
    margin-left: 10%;
    font-size: 20px;
    font-family: 'Lora';
}

.form input {
    background-color: gainsboro;
}

.btn-log {
    background-color: #F9B234;
    width: 15%;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;

}