.sidenav {
    margin-left: 10%;
    width: 200px;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;


}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #2196F3;
    display: block;
    font-weight: 200;
}

.sidenav a:hover {
    color: #064579;
}

.main {

    background: #eee;
    width: 800px;
    height: 700px;
    margin-top: -11%;
    margin-left: 30%;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.main h4 {
    text-align: center;
    font-weight: 200;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    margin-left: 10%;
}

.form input {
    background-color: gainsboro;
}

.main table {
    margin: auto;
}

.main td {
    padding: 10px;
}

.n_r {
    float: right;
    margin-right: 100px;
}

.rc_nav.ab {
    text-align: center;
}

.cent {
    margin-left: 200px;
}

.lg {
    float: right;
    margin-top: -52px;
    margin-right: 200px;
}

.ac {
    float: right;
    margin-top: -52px;
    margin-right: 90px;
}

.wrapper{
    display: none;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}