html,
body{
    height: 100%;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Montserrat';
}
.navbar{
    background-color: #171717;
    height: 80px;
    display: flex;
    text-align: center; 
    
}

.nav-logo {
    margin: 25px;
}

.nav-cart{
    margin-left: -250px;
    
    margin-top: 25px;
}

.navbar-bg{
    height: 80px;
    background-color: #171717;
}

#menu {
    margin-left: -300px;
}

ul#menu li{
    color: white;
    display: inline-flex;
    margin-top: 9px;  
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul#menu li a{
    text-decoration: none; 
}

.cart{
    text-align: right;
    text-decoration: none;
    margin-top: -50px;
    margin-right: 240px;
}

.carousel{
    margin-top: -70px;
    height: 450px;
    background-color: #171717;

}
.content{
    font-size: 60px;
    margin-left: 20%;
    font-family: 'Lora';
    color: #ffff;
    
}

.car-img{
    style="width: 40%";
    text-align:right;
    margin-top: -215px;
    margin-right: 300px;
}

.content .c-1{
    font-size: 20px;
    margin-top: -60px;
    width: 30%;
    font-weight: 200;
    font-family: 'Montserrat';
}

.btn-carousel{
    font-family: 'Montserrat';
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-align: center;
    margin-left: 273px;
    margin-top: -100px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background-color: #F9B234;
}

.prev{
    margin-top: -190px;
    margin-left: 180px;
}


.next{
    text-align: right;
    margin-top: -40px;
    margin-right: 180px;
}

.brand{
    display: inline;
    text-align: center;
}

.brand-position{
    display: inline-flex;
    text-decoration: none;
    color: white;
    margin-left: 10%;
    margin-top: 40px;
}

.bg-product{
    width: 100%;
    height: 416px;
    margin-top: 40px;
    background-color: #FBF4F4;
}

.bg-product .up{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 20px;
    color: #7A5AE8;
    margin-left: 180px;
    display: flex;
}

.bg-product .down{
    font-size: 14px;
    color: #BBB1B1;
    margin-left: 180px;
    margin-top: -20px;
}

.item-product{
    text-align: center;
    margin-left: 180px;
    
    
    
    float: left;
}

.product-1{
    width: 168px;
    height: 240px;
    float: left;
    padding: 15px;
}

.designer{
    width: 100%;
    height: 500px;
}
.designer .up{
        font-family: 'Lora';
        font-weight: bold;
        font-size: 20px;
        color: #7A5AE8;
        margin-left: 180px;
        display: flex;
}

.designer .down{
     font-size: 14px;
     color: #BBB1B1;
     margin-left: 180px;
     margin-top: -20px;
}

.person{
margin-top: 40px;
margin-left: 120px;

}
.person .ds{
    text-align: center;
    width: 260px;
    height: 217px;
    float: left;
    margin-left: 10px;
}

.footer{
    border-top: 1px solid gray;
    width: 100%;
    height: 200px;

}

.footer .ft-logo{
    margin-left: 180px;
}

.footer .ft-logo p{
    font-size: 14px;
    color:#BBB1B1;
}

.sosmed{
    margin-left: 1070px;
    margin-top: -90px;
    width: 160px;
    height: 30px;
}

.footer .sosmed-item{
    margin-right: 10px;
    width: 29px;
    height: 29px;
    float: left;
    
}

.ft-jobs a{
    padding: 20px;
    color: #707070;
    margin-left: 810px;
    text-decoration: none;
}

.span{
    color: white;
}