.n_r {
    float: right;
    margin-right: 100px;
}

.rc_nav.ab {
    text-align: center;
}

.cent {
    margin-left: 200px;
}

.lg {
    float: right;
    margin-top: -52px;
    margin-right: 200px;
}

.ac {
    float: right;
    margin-top: -52px;
    margin-right: 90px;
}